@model SN_Aggregator_App.Models.ProfileModel

<h2>Facebook Profile Details: </h2>
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            Birthday:
        </dt>

        <dd>
            @if (Model.birthday != null)
            {
            <text>@Model.birthday</text>
            }
            else
            {
            <label>Permission was not granted</label>
            }
        </dd>

        <dt>
            First Name:
        </dt>

        <dd>
            @if (Model.first_name != null)
            {
            <text>@Model.first_name</text>
            }
            else
            {
            <label>Permission was not granted</label>
            }
        </dd>

        <dt>
            Last Name:
        </dt>

        <dd>
            @if (Model.last_name != null)
            {
            <text>@Model.last_name</text>
            }
            else
            {
            <label>Permission was not granted</label>
            }
        </dd>

        <dt>
            Home Town:
        </dt>

        <dd>
            @if (Model.hometown != null)
            {
            <text>@Model.hometown</text>
            }
            else
            {
            <label>Permission was not granted</label>
            }
        </dd>

        <dt>
            Quotes:
        </dt>

        <dd>
            @if (Model.quotes != null)
            {
            <text>@Model.quotes</text>
            }
            else
            {
            <label>Permission was not granted</label>
            }
        </dd>

        <dt>
            Liked Pages
        </dt>

        @if (Model.likes != null)
        {
            foreach (string str in Model.likes)
            {
                <dd>
                    @str
                </dd>
            }
        }
        else
        {
            <dd>
                <label>Permission was not granted</label>
            </dd>
        }

    </dl>
</div>
