@model SN_Aggregator_App.Models.Settings

@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<div class="form-horizontal">

    <fb:login-button id="fb-btn"
                     scope="public_profile,email,pages_read_engagement,pages_manage_posts,pages_manage_engagement,user_photos,user_posts,user_likes,user_hometown,user_birthday"
                     onlogin="checkLoginState();">
    </fb:login-button>
    <input type="button" value="Logout of Facebook" id="Logout" onclick="Logout()" style="display:none" />

    <button id="tw_btn" onclick="signinTW()">Sign in With Twitter</button>
    <input type="button" value="Logout of Twitter" id="logoutTW" onclick="signouttw()" style="display:none" />

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Settings</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.fnameperm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.fnameperm)
                    @Html.ValidationMessageFor(model => model.fnameperm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lnameperm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.lnameperm)
                    @Html.ValidationMessageFor(model => model.lnameperm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.birthdayperm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.birthdayperm)
                    @Html.ValidationMessageFor(model => model.birthdayperm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hometownperm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.hometownperm)
                    @Html.ValidationMessageFor(model => model.hometownperm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quotesperm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.quotesperm)
                    @Html.ValidationMessageFor(model => model.quotesperm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.likesperm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.likesperm)
                    @Html.ValidationMessageFor(model => model.likesperm, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '2689916747923929',
            cookie: true,
            xfbml: true,
            version: 'v7.0'
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });

    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function checkLoginState() {
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
        });
    }

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            $.ajax({
                url: '/User/AddFBDetails',
                method: 'POST',
                data: {
                    token: response.authResponse.accessToken,
                    id: response.authResponse.userID,
                },
                success: function () {
                    document.getElementById('fb-btn').style.display = 'none';
                    document.getElementById('Logout').style.display = 'block';
                }
            });
        }
        else {
            document.getElementById('fb-btn').style.display = 'block';
            document.getElementById('Logout').style.display = 'none';
        }
    }

    function Logout() {
        FB.logout(function () {
            checkLoginState();
        });
    }
</script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCJjELiRHV188pi-mfFBjmHieLrE6-SDmw",
        authDomain: "distributed-assignment-47d4c.firebaseapp.com",
        databaseURL: "https://distributed-assignment-47d4c.firebaseio.com",
        projectId: "distributed-assignment-47d4c",
        storageBucket: "distributed-assignment-47d4c.appspot.com",
        messagingSenderId: "41663534856",
        appId: "1:41663534856:web:afad898ab918eb92b8febd",
        measurementId: "G-QVG0ZRLCJ0"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

<script>

    function signinTW()
    {
        var provider = new firebase.auth.TwitterAuthProvider();
        firebase.auth().useDeviceLanguage();
        firebase.auth().signInWithPopup(provider).then(function (result) {
            console.log(result.user);
            $.ajax({
                url: '/User/AddTWToken',
                method: 'POST',
                data: {
                    token: result.credential.accessToken,
                    id: result.user.id,
                },
                success: function () {
                    document.getElementById('tw_btn').style.display = 'none';
                    document.getElementById('logoutTW').style.display = 'block';
                }
            });
        }).catch(function (error) {
            console.log(error);
        });
    }

    function signouttw() {
        firebase.auth().signOut().then(function() {
            document.getElementById('tw_btn').style.display = 'block';
            document.getElementById('logoutTW').style.display = 'none';
        }).catch(function (error) {
            console.log(error);
        });
    }
</script>